@use "/src/sass/base/mixins.scss" as *;

.title-h1-italic {
	@include title;
	font-size: 24px;
	font-style: italic;
}

.title-h2 {
	@include title;
	font-size: 32px;
}

.title-h3 {
	@include title;
	font-size: 20px;
}

@media screen and (min-width: 768px) {
	.title-h2 {
		font-size: 36px;
	}
	.title-h3 {
		font-size: 24px;
	}
}

@media screen and (min-width: 1200px) {
	.title-h2 {
		font-size: 40px;
	}
}

@media screen and (min-width: 1920px) {
	.title-h1-italic {
		font-size: 32px;
	}
}
